<h1><%- title %></h1>
<%- messages() %>
    <% if (errors) { %>
        <ul class="notice">
            <% errors.array().forEach(error=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <h2 class="span2"> Welcome
                <% if(locals.accountData.account_firstname/*==="Employee" || locals.accountData.account_type==="Admin"
                    */) { %>
                    <%= locals.accountData.account_firstname %>

                        <% } else {%> Basic<% } %>
            </h2>


            <p class="span2">You're logged in</p>
            <p class="span2">
                <a href="/account/edit/<%=locals.accountData.account_id%>">Edit Account Information</a>
            </p>

            <% if(locals.accountData.account_type==="Employee" || locals.accountData.account_type==="Admin" ) { %>
                <h3 class="span2">Inventory Management</h3>
                <p>
                    <a href="/inv/vehicleManagement">Manage Inventory</a>
                </p>
                <% }%>

                    <% if(locals.accountData.account_type==="Admin" ) { %>
                        <h3 class="span2">User Accounts Management</h3>
                        <p>
                            <a href="/account/userManagement/<%=locals.accountData.account_id%>">Manage User
                                Accounts</a>
                        </p>
                        <% }%>